<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<!--输出日志的格式-->
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}(%F:%L) - %m%n" />
		</Console>

		<!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
		<RollingFile name="fileAppender" fileName="logs/depot.log" filePattern="logs/depot.log.%d{yyyy-MM-dd}.%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}(%L) - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<!-- 日志文件大小 -->
				<SizeBasedTriggeringPolicy size="200 MB" />
			</Policies>
			<DefaultRolloverStrategy max="24" />
		</RollingFile>
	</Appenders>

	<!--根据Logger和Root的定义写入相应的appender格式的日志-->
	<Loggers>
		<AsyncRoot level="info">
			<AppenderRef ref="fileAppender" />
        </AsyncRoot>
	</Loggers>
</Configuration>